body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.info {
	float: right;	
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	margin-right: 500px;
}

.info p {
	margin-top:20px;
}



.ryu {
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	/*assign width and height for all 3 classes at the same time*/
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	/*initially want only the div .ryu-still to display*/
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;

}


